.dl_row {
    background-color: #fafafa;
    border: 1px solid #dee0e3;
    border-radius: 12px;
    display: flex;
}
.dl_row #download_link {
    width: 80%;
    padding: 6px 5px;
    background-color: transparent;
    border: 0;
}
.dl_row #download_link:focus{
    box-shadow: none;
}
button.copyButton {
    padding: 0 10px 0;
    line-height: 23px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    background-color: #fff;
    border:none;
    border-right: 1px solid #c3c4c7;
    width: 20%;
}
button.copyButton img {
    width: 22px;
    padding-top: 6px;
    padding-bottom: 0px;
}
.backup_url.column-backup_url {
    display: flex;
    align-items: center;
}
input.download_link {
    border: none;
    border-radius: 0 10px 10px 0;
}

/*======= oping table ==========*/
.wp-list-table.widefat.fixed.striped.table-view-list.oping {
    border: 1px solid #dee0e3;
}
.table-view-list.oping thead{
    background-color:#fafafa; 
}
.table-view-list.oping thead tr td,.table-view-list.oping thead tr th {
    background-color:transparent; 
    padding:10px 0;
}
.error_cl {
    background-color: #fff1f0;
    padding: 3px 15px;
    border-radius: 8px;
    color:#ce2d27;
}
.progress_cl{
    background-color: #fff8db;
    padding: 3px 15px;
    border-radius: 8px;
    color:#a56a12;   
}
.downloading_cl{
    background-color: #eefde2;
    padding: 3px 15px;
    border-radius: 8px;
    color:#056636;     
}
.table-view-list.oping .status.column-status {
    line-height: 32px;
}
.table-view-list.oping tfoot {
    background-color: #fafafa;
    padding: 10px 0;
}
#submit.button.button-primary{
    background-color: #f5580a;
    border: 1px solid #f5580a;
    border-radius: 10px;
    padding: 6px 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    max-height: 50px;
}

.oping-backup_page_backup-services .table-view-list thead tr td,
.oping-backup_page_backup-services .table-view-list thead tr th {
    background-color: transparent;
    padding: 10px 0;
}
.oping-backup_page_backup-services .wp-list-table {
    border: 1px solid #dee0e3;
}
.oping-backup_page_backup-services .table-view-list thead{
    background-color:#fafafa; 
}
.oping-backup_page_backup-services .table-view-list thead tr td,
.oping-backup_page_backup-services .table-view-list thead tr th {
    background-color:transparent; 
    padding:10px 0;
}
.oping-backup_page_backup-services .table-view-list .status.column-status {
    line-height: 32px;
}
.oping-backup_page_backup-services .table-view-list tfoot {
    background-color: #fafafa;
    padding: 10px 0;
}

.s_l_bk {
    background-color: #fff;
    margin: 20px 0;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    align-items:center;
}
.s_l_row{
    display:flex;
    align-items:center;
}
.form-table .s_l_row th {
    width: auto;
    padding: 15px 0 20px 10px;
}
form.bk_s_list{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}
form.bk_s_list #submit {
    background-color: #f5580a;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
}
form.cron_list{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;   
}

/* Dropdown Button for backup link*/
.dropbtn {
    background-color: transparent;
    color: #50575e;
    padding: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 0;
    left: -15px;
}
.dropdown-content a {
    color: black;
    padding: 8px 30px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    margin: 6px 5px;
}
.dropdown-content a:hover {background-color: #ddd;}
.show {display:block;}
.backup_url.column-backup_url {
    display: flex;
    align-items: center;
}
.dr_link{
    position:relative;
    padding-right:15px;
}
.dr_link:before {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-size: 100%;
}
.dl_link:before{
    background-image:url(../img/download.svg);
}
.restore_link:before{
   background-image:url(../img/restore.svg); 
}
.delete_link.red{
    color: #FF5050;   
}
.delete_link:before{
   background-image:url(../img/delete.svg); 
}
.oping-backup_page_oping-cron-backup .wp-core-ui .button-primary {
    background: #f5580a;
    border-color: #f5580a;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #f5580a;
    color: #fff;
    font-size: 1em;
}
@media (max-width:768px){
    .s_l_bk {
        display: block;
    }
    .dropdown-content {
        position: relative;
    }
    .dropbtn {
        padding: 0;
        transform: rotate(0deg);
        width: 40px;
        border-radius: 10px;
        margin: 10px 0;
        height: 40px;
        background-color: #ccc;
    }
    input.download_link {
        overflow: hidden;
    }
}
